<div class="w-50 mx-auto">
  <h1 class="text-center">Reset password</h1>
  <% if (msg.length) { %>
  <div class="alert alert-success text-center"><%= msg %></div>
  <% } %>
  <div class="d-grid">
    <a class="btn btn-info mt-2" href="/auth/login" role="button"
      >Về trang đăng nhập</a
    >
  </div>
</div>
