<div class="w-50 mx-auto">
  <h1 class="text-center">Reset password</h1>
  <p class="text-danger fst-italic">
    Thời gian đổi mật khẩu hết hạn, vui lòng đăng nhập hoặc đổi mật khẩu lại!
  </p>
  <div class="d-grid">
    <a class="btn btn-info mt-2" href="/auth/login" role="button"
      >Về trang đăng nhập</a
    >
  </div>
</div>
